terraform {
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 5.0"
    }
  }
}

provider "aws" {
  region = {{ .Region | quote }}
}

resource "aws_s3_bucket" {{ .ResourceName | quote }} {
  bucket = {{ .BucketName | quote }}
}

resource "aws_s3_bucket_acl" {{ printf "%s_acl" .ResourceName | quote }} {
  bucket = aws_s3_bucket.{{ .ResourceName }}.id
  acl    = {{ .ACL | quote }}
}
