resource "aws_db_instance" "{{ .name }}" {
  identifier        = "{{ .identifier }}"
  engine            = "{{ .engine | default "postgres" }}"
  engine_version    = "{{ .engine_version | default "15" }}"
  instance_class    = "{{ .instance_class | default "db.t3.micro" }}"
  allocated_storage = {{ .allocated_storage | default 20 }}
  db_name           = "{{ .db_name }}"
  username          = "{{ .username }}"
  password          = "{{ .password }}"

  skip_final_snapshot = true

  tags = {
    Name        = "{{ .name }}"
    Environment = "{{ .environment }}"
  }
}
